@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  text-decoration: none;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%);}

main{
    width: 90%;
    height: 150vh;
    margin: auto;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
}
.img{
color:rgb(1, 1, 55) ;
    
}
.nav a{
    color:rgb(86, 81, 81);
    padding: 10px;
}

.hamburger{
    display: none;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    min-height: 8vh;
    background-color:transparent;
    
    font-family: 'poppins', sans-serif;
}

.logo{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size:20px ;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 35%;
    list-style-type: none;


}

.nav-links a{
    text-decoration: none;
    color:rgb(86, 81, 81);
}
.nav-links a:hover{
    color: tomato;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    /* display: none; */
    width: 25px;
    height: 3px;
    background-color:rgb(1, 1, 55);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    .nav-links{
        width: 50%;
    }
}
@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 72vh;
        top: 8vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        color: rgb(1, 1, 55);
        transform: translateX(100%);
        line-height:1rem ;
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
    .nav-active{
        transform:translateX(0%)
    }
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg ) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}


.center{
    display: flex;
    
}
.middle{
    display: flex;
    width: 88%;
    gap: 2rem;
    margin-top: -50px;
}
.middle h1{
    color: rgb(1, 1, 55);
    font-size: 32px;
    line-height: 1;
}
.middle p{
    font-size: 14px;
    line-height: 1.2;
}
.middle button{
    width: 40%;
    background-color: tomato;
    color: white;
    padding: 8px;
    outline: 0;
    border: 0;
    
}
button{ 

    margin:30px 0 ;
}
.middle button:hover{
    background-color:rgb(1, 1, 55); 
    color: white;
}

.left{
    display: flex; 
    flex-direction: column;
    margin:0 0 0 100px  ;
}
.center img{
    height: 400px;
    width: 88%;
    object-fit: contain;
}
hr{
    width: 90%;
    margin: auto;
    border: 0;
    outline: 0.1px solid white;
}
.right{
    background-color: rgb(1, 1, 55);
    color: white;
    width: 700px;
    margin: 70px 90px 0px -50px;
    
    
}
.right p{
    font-size: 12px;
}

.one,.two{
    padding: 20px;
    border-bottom: 0.3px solid white;
}
.three{
    padding: 20px;
    
}
.right h1{
    color: orange;
    padding:30px  0 0 20px ;
}
.right h4:hover{
    color: orange;

}
.last{
    display: flex;
    margin: 50px 100px ;
}
.last img{
    width: 25%;
    height: 5rem;
}
.last h5{
    color:rgb(1, 1, 55) ;
}
.last p{
    font-size: 12px;
}
.types{
    display: flex;
    gap: 1rem;
}
.number{
    font-size: 30px;
    color: rgb(128, 124, 124);
    font-weight: 600;
}
nav .icon{
    display: none;
}
@media (max-width:1320px) {

    header{
        padding: 0 50px;
    }
    }
@media (max-width:1100px) {

    header{
        padding: 0 30px;
    }
    }



@media(max-width:900px){
    .center{
        flex-direction: column;
    }
    .right{
        margin: auto;
        width: 72%;
    }
    .middle{
        flex-direction: column;
        gap: 0.5rem;
        padding: 0;
    }
    .last{
        flex-direction: column;
        gap: 1rem;
    }
    main{
        height: auto;
    }
    .nav a{display: none;}
  .nav a.icon {
    float: right;
    display: block;

  }
  .nav.responsive {
    position: relative;
}
  .nav.responsive a.icon {
    position: absolute;
    left: 60px;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  
   

}
@media (max-width:600px) {
    .right{
        margin-right:40px;
        width: 68%;
    }
    .nav.responsive a.icon {
        position: absolute;
        right:20px;
       
    }
   
    .center{
        margin-left: -50px;
    }
    .center img{
       /* height: 700px; */
       padding: 0;
       margin: -120px 10px 0px 0;
       /* height: 6rem; */
    }
    .middle{
        margin-top: -120px;
    }
    .middle button{
        width: 80%;
        
    }
    header{
        padding: 20px 30px;
    }
    
    .last{
        margin: 20px 34px;
    }
}